@charset "UTF-8";
@font-face {
    font-family: 'poesia';
    src: url('Comfortaa-Regular.ttf') format('truetype');
}
:root{
    --poesia: 'poesia', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh; /* altura minima 100% da view porta toda a altura da tela */
    background-color: white;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    /* text-transform: uppercase; deixa letra maiuscula abaixo outra forma  */
    font-variant: small-caps; /* tambem deixa letra maiuscula mais bonito que o de cima */
    font-size: 6vw; /* tela pequena letra pequena tela grande letra grande tirulo ocupa 6 porcento da viewport*/
}
header p{
    padding-bottom: 50px; /* padding simetrico no h1 e no p */
 
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh; /* padding responsivo combinado com as configuraçoes de html e body que estao usando a medida vh */
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-family: var(--poesia);
    font-size: 3em;
    
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(0, 0, 0, 0.366);
    color: black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432); /* sombra interna */
    background-size: cover;
    background-attachment: fixed; /* imagem com efeito paralax */
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.479);
    display: inline-block;
    padding: 5px;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.225);
    color: white;
}
section#img01{
    background-image: url('pacote-d012/imagens/background001.jpg');
    background-position: right center;
    
}
section#img02{
    background-image: url('pacote-d012/imagens/background002.jpg');
    background-position: right center;
    
}
footer{
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
}